/* Nerdy secret: You can use "less" below! Don't tell anybody... */

.header {
	text-align: center;
  font-size: 2.5rem;
  padding: 20px;
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
  background: rgb(36, 41, 46);
}
.wrapper
{
  width: 1000px;
  padding-top: 50px;
  margin: auto;
}