/* Nerdy secret: You can use "less" below! Don't tell anybody... */

.header {
	text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.wrapper
{
  width: 800px;
  padding-top: 50px;
  margin: auto;
}